<div class="editor">
  <div class="editor__container">
    <button class="editor__close"></button>
    <form class="editor__form" name="editor">
      <legend class="editor__legend">Change data</legend>
      <label class="editor__label" for="FirstName">FirstName</label>
      <input class="editor__input" id="FirstName" name="firstName" type="text">
      <label class="editor__label" for="LastName">LastName</label>
      <input class="editor__input" id="LastName" name="lastName" type="text">
      <label class="editor__label" for="About">About</label>
      <textarea class="editor__textarea" id="About" name="about" cols="30" rows="10"></textarea>
      <label class="editor__label" for="EyeColor">EyeColor</label>
      <input class="editor__input" id="EyeColor" name="eyeColor" type="text">
      <button class="editor__button" type="button">Save</button>
    </form>
  </div>
</div>